/* Réinitialisation des styles pour tous les éléments */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Utilisation de la police Poppins */
}
/* Définition des variables de couleur */
:root {
    --gris: #9694AE; /* Définition de la couleur grise */
    --noir: black; /* Définition de la couleur noire */
    --blanc: white; /* Définition de la couleur blanche */
    --vert: #C4BE2E; /* Définition de la couleur verte */
}
/* Styles de base pour le corps de la page */

body{
    background: var(--blanc); /* Couleur de fond blanche */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    height: 100vh; /* Occupe toute la hauteur de la fenêtre */
    background-color: #f0f0f0; /* Ajoute une couleur de fond */
}
/* Conteneur principal */
.container{
    position: relative;
    max-width: 405px;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: var(--blanc);  /* Couleur de fond blanche */
    border-radius: 22px;
    border-color: var(--gris); /* Couleur de bordure grise */
    border-style: solid;
}

/* Styles pour l'en-tête */
.head{
    position: relative;
    background: var(--gris); /* Couleur de fond grise */
    border-radius: 21px;
    top: 0%;
}
.head h1{
    align-items: center;
    justify-content: center;
    
}
/* Styles pour l'ajout de tâche */
.AjouTask {
    height: 42px;
    padding: 0 25px;
    position: relative;
    display: flex;
    background: var(--gris); /* Couleur de fond grise */
}
/* Styles pour les tâches */
.task {
    background: var(--gris); /* Couleur de fond grise */
    border-radius: 12px;
    height: 55px;
    flex-wrap: wrap;
}
/* Styles pour les boutons */
.AjouTask button,
.categories .deletteBtn {
    outline: none;
    border: none;
    color: #fff; /* Couleur du texte blanc */
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
    padding: 7px 13px;
    background: var(--vert); /* Couleur de fond verte */
}

/* Styles pour les champs de texte */
.AjouTask input,
.box-input {
    display: flex;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid var(--gris); /* Bordure grise */
    padding: 0 20px 0 53px;
}

.task p{
    font-size: 25px;
}
/* Styles pour les catégories */
.categories,  li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categories{
    padding: 28px 25px;
    border-bottom: 1px solid #ccc;
    background: var(--gris);
}
/* Styles pour les filtres */
.filtrages span {
    cursor: pointer;
    margin: 0 8px;
    font-size: 17px;
}
/* Styles pour le filtre actif */
.filtrages span.active {
    color: rgb(99, 202, 16); /* Couleur du texte verte */
    background: var(--blanc); /* Couleur de fond blanche */
    padding: 18px;
    margin: 0;
    bottom: 0;
}
/* Styles pour les listes de tâches */
.lisTache {
    height: 60%;
    margin-top: 0;
    background-color: var(--blanc); /* Couleur de fond blanche */
}

/* Styles pour les éléments de tâche */
.taskItem {
    margin: 12px 25px;
}

/* Styles pour les informations de tâche */
.infoTask {
    display: list-item;
}

/* Styles pour les dates de tâche */
.infoTask .date {
    background: #e41111; /* Couleur rouge pour la date */
    font-size: 12px;
    border-radius: 3px;
}

/* Styles pour les boutons de configuration */
.task .settings {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Styles pour la modal */
.modal-container {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s;
    z-index: 1;
}

/* Styles pour l'overlay de la modal */
.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
}

/* Styles pour la modal active */
.modal-container.active {
    visibility: visible;
}

/* Styles pour la modal elle-même */
.modal {
    opacity: 0;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

/* Styles pour la modal active */
.modal-container.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
}

/* Styles pour le bouton de fermeture de la modal */
.close-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: #ff365e; /* Couleur rouge pour le bouton de fermeture */
    color: #fff; /* Couleur du texte blanc */
}

/* Styles pour le titre de la modal */
.modal h1 {
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

/* Styles pour le contenu de la modal */
.modal p {
    line-height: 1.4;
    margin-bottom: 5px;
}

/* Styles pour la boîte */
.box {
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #c4c4c4;
    background: white; /* Couleur de fond blanche */
    border-radius: 5px;
}

/* Styles pour le champ de saisie de la boîte */
.box-input {
    font-size: 18px;
    background: #fff;
    border: 2px solid rgb(160, 154, 154);
    margin-top: 12px;
    margin-bottom: 25px;
    padding-left: 10px;
    border-radius: 5px;
    width: 220px;
    height: 50px;
}

/* Styles pour le bouton de la boîte */
.box-button {
    border-radius: 5px;
    background: #ec1b08; /* Couleur rouge pour le bouton */
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    width: 100%;
    height: 51px;
    padding: 0;
    color: #fff; /* Couleur du texte blanc */
    border: 0;
    outline: 0;
}

/* Styles pour les tâches terminées */
.completed {
    text-decoration: line-through; /* Barre de texte barrée */
}

/* Styles pour la case à cocher des tâches terminées */
.completed input[type="checkbox"] {
    visibility: hidden; /* Masquer la case à cocher */
}

/* Styles pour le symbole de la case cochée */
.completed input[type="checkbox"] + label::before {
    content: "✔"; /* Symbole de case cochée */
    display: inline-block;
    font-size: 1.2em;
    margin-right: 5px;
}

/* Styles pour le texte de la tâche terminée */
.completed .task-content label::before {
    text-decoration: line-through; /* Barre de texte barrée sur la case à cocher */
}
